.section {  
  width: 100%;
  max-width: 600px;
}

.structure {
  padding-left: 48px;
  margin-bottom: 40px;
  padding-right: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 16px 0;
  margin-left: -32px;  
  margin-right: -16px;
  padding: 0;
  padding-right: 8px;
  min-height: 272px;
  max-height: 52vh;
  overflow-y: scroll;
}

.totalWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 16px;
}

.total {
  display: flex;  
  align-items: center;
  gap: 8px;
}