.content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 520px;
  margin: 0 auto;
}

.nutrientals {
  display: grid;
  grid-template-columns: 120px repeat(3, 112px);
  gap: 8px 20px;
  margin-bottom: 20px;
  text-align: center;
}
